In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame({'City' : ['Alma', 'Brain Head', 'Fox Park'],
               'altitude' : [3158, 3000, 2762]})

df

         City  altitude
0        Alma      3158
1  Brain Head      3000
2    Fox Park      2762

In [ ]:
state_map = {'Alma':'Colorado', 'Brian Head':'Utah', 'Fox Park':'Wyoming'}
df['state'] = df['City'].map(state_map)
df