In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df_ufc = pd.read_csv('raw_fighter_details.csv')

In [6]:
df_ufc.head()

,fighter_name,Height,Weight,Reach,Stance,DOB,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg
0,Tom Aaron,NaN,155 lbs.,NaN,NaN,"Jul 13, 1978",0.00,0%,0.00,0%,0.00,0%,0%,0.0
1,Papy Abedi,"5' 11""",185 lbs.,NaN,Southpaw,"Jun 30, 1978",2.80,55%,3.15,48%,3.47,57%,50%,1.3
2,Shamil Abdurakhimov,"6' 3""",235 lbs.,"76""",Orthodox,"Sep 02, 1981",2.45,44%,2.45,58%,1.23,24%,47%,0.2
3,Danny Abbadi,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
4,Hiroyuki Abe,"5' 6""",145 lbs.,NaN,Orthodox,NaN,1.71,36%,3.11,63%,0.00,0%,33%,0.0

In [12]:
def ranker(df):
    df['alc_content_rank'] = np.arange(len(df)) +1
    return df

In [13]:
df_ufc.sort_values('Sub_Avg', ascending = False, inplace=True)

In [14]:
df_ufc = df_ufc.groupby('SApM').apply(ranker)

In [15]:
df_ufc.head()

                fighter_name Height    Weight Reach    Stance           DOB  \
SApM
0.0  820     Robert Drysdale  6' 3"  205 lbs.   NaN  Orthodox  Oct 05, 1981
     2055  Daniel McWilliams  6' 1"  185 lbs.   NaN       NaN           NaN
     1214         Neil Grove  6' 6"  265 lbs.   NaN  Orthodox  Jan 18, 1971
     1030       Megumi Fujii  5' 3"  113 lbs.   NaN       NaN  Apr 26, 1974
     891          Kenny Ento  6' 2"  192 lbs.   NaN       NaN           NaN

           SLpM Str_Acc  SApM Str_Def  TD_Avg TD_Acc TD_Def  Sub_Avg  \
SApM
0.0  820   0.00      0%   0.0      0%    7.32   100%     0%     21.9
     2055  3.36     77%   0.0      0%    0.00     0%   100%     21.6
     1214  0.00      0%   0.0      0%    0.00     0%   100%     14.3
     1030  2.40     42%   0.0    100%    0.00     0%     0%     12.0
     891   8.41     79%   0.0    100%    5.49   100%     0%     11.0

           alc_content_rank
SApM
0.0  820                  1
     2055                 2
     1214                 3
     1030                 4
     891                  5

In [20]:
num_of_subAvg = df_ufc['SApM'].value_counts()

In [21]:
num_of_subAvg

SApM
0.00     662
3.20      21
2.53      19
2.83      16
2.99      16
        ...
6.76       1
6.77       1
6.78       1
6.79       1
52.50      1
Name: count, Length: 759, dtype: int64

In [22]:
df_ufc[df_ufc.alc_content_rank == 1].head(len(num_of_subAvg))

,,fighter_name,Height,Weight,Reach,Stance,DOB,SLpM,Str_Acc,SApM,Str_Def,TD_Avg,TD_Acc,TD_Def,Sub_Avg,alc_content_rank
SApM,,,,,,,,,,,,,,,,
0.00,820,Robert Drysdale,"6' 3""",205 lbs.,NaN,Orthodox,"Oct 05, 1981",0.00,0%,0.00,0%,7.32,100%,0%,21.9,1
0.10,540,Khamzat Chimaev,"6' 2""",170 lbs.,"75""",Orthodox,"May 01, 1994",9.03,72%,0.10,66%,4.67,75%,0%,3.1,1
0.13,854,Abdul-Kerim Edilov,"6' 2""",205 lbs.,NaN,Orthodox,"Nov 25, 1991",10.22,61%,0.13,92%,3.98,100%,0%,2.0,1
0.17,2233,Tom Murphy,"6' 2""",227 lbs.,NaN,Southpaw,"Nov 19, 1974",2.50,71%,0.17,84%,7.51,85%,0%,2.5,1
0.20,2791,Danny Sabatello,"5' 10""",135 lbs.,"71""",Orthodox,"Mar 31, 1993",2.07,57%,0.20,25%,3.00,75%,100%,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24.62,2510,Leiticia Pestova,"5' 6""",135 lbs.,NaN,Orthodox,"Jan 15, 1984",0.00,0%,24.62,44%,0.00,0%,0%,0.0,1
26.67,3194,Tsuyoshi Tamakairiki,"6' 0""",220 lbs.,NaN,Orthodox,NaN,0.00,0%,26.67,50%,0.00,0%,0%,0.0,1
30.00,1551,Antonio Jones,"5' 11""",185 lbs.,NaN,Orthodox,"Apr 12, 1985",7.50,55%,30.00,42%,0.00,0%,0%,0.0,1
49.41,1154,Tebaris Gordon,"6' 1""",265 lbs.,NaN,Orthodox,"Jul 19, 1988",3.53,16%,49.41,22%,0.00,0%,0%,0.0,1
52.50,297,Dashawn Boatwright,"6' 0""",205 lbs.,NaN,Orthodox,"Feb 29, 1988",0.00,0%,52.50,12%,0.00,0%,0%,0.0,1